{% extends "base.html" %}
{% block title %}
    ansible-roles
{% endblock %}

{% block label %}
    <ul class="breadcrumb">
    <li>
        <a href="/index">Home</a>
    </li>
    <li>
        <a href="#">
            执行roles
        </a>
    </li>
</ul>
{% endblock %}

{% block row %}
<div class="box-content  buttons">
    <p>
        
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <button class="btn btn-success btn-lg">winast400</button>
        <!-- <button class="btn btn-info btn-lg">msgbroadcasterd</button>
        <button class="btn btn-inverse btn-default btn-lg">tengine</button>
        <button class="btn btn-default btn-lg">zabbix</button>
        <button class="btn btn-default btn-lg">common</button>
        <button class="btn btn-inverse btn-default btn-lg">activeMQ</button>
        <button class="btn btn-primary btn-lg">asterisk</button>
        <button class="btn btn-danger btn-lg">easycti</button>
        <button class="btn btn-warning btn-lg">sync_service</button> -->
    </p>
        <!-- <div class="btn-group">
        <button class="btn btn-default btn-lg">Large Dropdown</button>
        <button class="btn dropdown-toggle btn-default btn-lg" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="glyphicon glyphicon-star"></i> Action</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-tag"></i> Another action</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-download-alt"></i> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="glyphicon glyphicon-tint"></i> Separated link</a></li>
        </ul>
     	</div> -->
    </div>
{% endblock %}